body {
	margin: 0;
	padding: 0;
	border: 0;
	/* This removes the border around the viewport in old versions of IE */
	width: 100%;
	background: #fff;
	min-width: 600px;
	/* Minimum width of layout - remove line if not required */
	/* The min-width property does not work in old versions of Internet Explorer */
	font-size: 90%;
}

a {
	color:#4682B4;
	text-decoration: none;
}

a:hover {
	color: #6ed7ff;
	text-decoration: none;
}

h1,h2,h3 { 
    color: #81e8fc;
	margin: .8em 0 .2em 0;
	padding: 0;
}

p {
	margin: .4em 0 .8em 0;
	padding: 0;
}

img {
	margin: 10px 0px 0px 5px;
}

/* Header styles */
#header {
	clear: both;
	float: left;
	width: 100%;
	background-image: url(images/header.png);
	background-repeat: no-repeat;
	background-position: 100% 100%;
}

/*#header {
	border-bottom: 1px solid #000;
}*/
#header p,#header h1,#header h2 {
	padding: .4em 15px 0 15px;
	margin: 0;
}

/* column container */
.colmask {
	position: relative; /* This fixes the IE7 overflow hidden bug */
	clear: both;
	float: left;
	width: 100%; /* width of whole page */
	overflow: hidden; /* This chops off any overhanging divs */
}
/* common column settings */
.colright,.colmid,.colleft {
	float: left;
	width: 100%;
	position: relative;
}

.col1,.col2,.col3 {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	overflow: hidden;
}

.mainimage {
	float: left;
	position: relative;
	padding: 0 0 1em 0;
	background-image: url(images/mainPageBkg.png);
	height: 287px;
	width: 500px;
	background-repeat: no-repeat;
	background-position: 100% 100%;
}
/* 2 Column (left menu) settings */
.leftmenu {
	background: #fff; /* right column background colour */
}

.leftmenu .colleft {
	right: 75%; /* right column width */
	/*background: #f4f4f4;  left column background colour */
}

.leftmenu .col1 {
	width: 71%; /* right column content width */
	left: 102%; /* 100% plus left column left padding */
}

.leftmenu .col2 {
	width: 21%;
	/* left column content width (column width minus left and right padding) */
	left: 6%;
	/* (right column left and right padding) plus (left column left padding) */
}
/* Footer styles */
#footer {
	clear: both;
	float: left;
	width: 100%;
	/*border-top: 1px solid #000;*/
}

#footer p {
	padding: 10px;
	margin: 0;
	color: #6ed7ff;
}

/* Full page settings */
.fullpage {
	background: #fff; /* page background colour */
}

.fullpage .col1 {
	width: 96%; /* page width minus left and right padding */
	left: 2%;
} /* page left padding */