.wrapper {
	width: 1000px;
	margin: auto;
}

header {
	margin-top: 40px;
	position: relative;
	width: 100%;
	border-bottom: thin solid #cab180;
}

.navigation {
	width: 100%;
	height: 40px;
	background-color: #fff;
	margin-top: 15px;
}

.navigation ul {
	list-style-type: none;
	padding: 0;
}

.navigation a {
	float: left;
	display: block;
	width: 12%;
	padding-left: 20px;
	height: 40px;
	background-color: #fff;
	text-decoration: none;
	color: #bebaba;
	font-family: arial;
	font-size: 0.75em;
	line-height: 160%;
	border-right: thin solid #fff;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s;
}

.navigation a:hover {
	background-color: #fff;
	color: #9d9797;
}

.mainImage {
	margin-top: 40px;
	text-align: center;
	width: 100%;
	line-height: 450%;
}

.mainImage img {
	max-width: 100%;
}

.foot {
	font-family: arial;
	font-size: 1.25em;
	font-weight: normal;
	margin-top: 150px;
	text-align: center;
	border-bottom: thin solid #cab180;
	margin-bottom: 30px;
}

.foot a {
	color: #949494;
	text-decoration: none;
}

.foot a:hover {
	color: #5f5b5b;
}

.mainText {
	text-align: center;
	margin-top: 50px;
	color: #5f5b5b;
}

.mainText a {
	background-color: #fff;
	text-decoration: none;
	color: #bebaba;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s;
}

.mainText a:hover {
	background-color: #fff;
	color: #9d9797;
}

h4 {
	font-family: 'Amatic SC', cursive;
	font-size: 1.50em;
	color: #5f5b5b;
	margin: .8em 0 .2em 0;
	padding: 0;
}

.contactLinks{
	width: 100%;
}

.contactLinks ul {
	list-style-type: none;
	padding: 0;
}

.contactLinks a {
	float:left;
	display: block;
	width: 12%;
	padding-left: 20px;
	height: 40px;
	background-color: #fff;
	text-decoration: none;
	color: #bebaba;
	font-family: arial;
	font-size: 0.75em;
	line-height: 160%;
	border-right: thin solid #fff;
	-webkit-transition: .7s;
	-moz-transition: .7s;
	-o-transition: .7s;
	-ms-transition: .7s;
	transition: .7s;
}

.contactLinks a:hover {
	background-color: #fff;
	color: #9d9797;
}

.mainGallery {
	margin-top: 40px;
	width: 100%;
}